.App-logo-animation {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

// html
html {
  // to allow scrolling horizontally in statistics page
  overflow-x: auto;
}

// pref-button
.pref-button {
  position: sticky;
  bottom: 12px;
  margin-left: calc(100% - 68px);
  height: 56px;
  width: 56px;
  box-shadow: 0 0 3px 3px rgba($black, 0.6);
  z-index: 2;
}

push-notification .push-notification {
  width: 70%;
  max-width: 320px;
  position: fixed;
  bottom: 12px;
  left: 12px;
  box-shadow: 0 0 3px 3px rgba($black, 0.6);
  // higher z-index than the modal
  z-index: 41;
}

// connection-notification
.connection-notification {
  height: 32px;
  padding-top: 4px;
  position: sticky;
  bottom: 0;
  width: 100%;
  text-align: center;
}

// loader
.loader-lg {
  width: 50px;
  height: 50px;
  border-width: 4px;
}

.loader-color-black {
  border-bottom-color: #040404;
  border-left-color: #040404;
}

.loader-color-white {
  border-bottom-color: #fff;
  border-left-color: #fff;
}

.loader-color-light {
  border-bottom-color: whitesmoke;
  border-left-color: whitesmoke;
}

.loader-color-dark {
  border-bottom-color: #363636;
  border-left-color: #363636;
}

.page-loader-height {
  height: 150px
}

// rune tooltip
.description>hr {
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  height: 1px;
  background-color: #dbdbdb;
}

.description-text>* {
  color: #ffdd57
}

.description-text>rules {
  color: #209cee;
}

.description>lol-uikit-tooltipped-keyword>font {
  color: #00d1b2;
}

// item tooltip
.description>unique,
passive,
active {
  color: #ffdd57;
}

.description>stats {
  color: #209cee;
}

// material icons
.material-icons {
  min-width: 24px;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.material-icons.md-16 {
  font-size: 16px;
}

.material-icons.md-14 {
  font-size: 14px;
}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-32 {
  font-size: 32px;
}

.material-icons.md-48 {
  font-size: 48px;
}

.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

// generic
.is-relative {
  position: relative;
}

.pd-s {
  padding: 4px;
}

.pd-1 {
  padding: 8px;
}

.pd-12 {
  padding: 12px
}

.pd-2 {
  padding: 16px;
}

.pdy-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.pdy-1 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.pdy-2 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.pdx-0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.pdx-s {
  padding-right: 4px !important;
  padding-left: 4px !important;
}

.pdx-vs {
  padding-right: 2px !important;
  padding-left: 2px !important;
}

.pdx-1 {
  padding-right: 8px;
  padding-left: 8px;
}

.pdx-2 {
  padding-right: 16px;
  padding-left: 16px;
}

.mg {
  margin: 1px;
}

.mg-vs {
  margin: 2px;
}

.mg-s {
  margin: 4px;
}

.mg-1 {
  margin: 8px;
}

.mg-2 {
  margin: 16px;
}

.mgy-s {
  margin-top: 4px;
  margin-bottom: 4px;
}

.mgy-0 {
  margin-top: 0;
  margin-bottom: 0 !important;
}

.mgy-1 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.mgy-2 {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}

.mgx {
  margin-right: 4px;
  margin-left: 4px;
}

.mgx-0 {
  margin-right: 0;
  margin-left: 0;
}

.mgx-1 {
  margin-right: 8px;
  margin-left: 8px;
}

.mgx-2 {
  margin-right: 16px;
  margin-left: 16px;
}

.mgy-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.mgx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mgb-vs {
  margin-bottom: 2px;
}

.mgb-1 {
  margin-bottom: 8px;
}

.mgb-2 {
  margin-bottom: 16px;
}

.mgl-1 {
  margin-left: 8px;
}

.mgt-1 {
  margin-top: 8px;
}

.mgt-2 {
  margin-top: 16px;
}

.mgr-s {
  margin-right: 4px;
}

.mgr-vs {
  margin-right: 2px !important;
}

.mgr-1 {
  margin-right: 8px;
}

.fullwidth {
  width: 100%;
}

.fullheight {
  height: 100%;
}

.is-circle {
  border-radius: 50%;
}

.vertical-middle {
  vertical-align: middle;
}

.cursor-pointer {
  cursor: pointer;
}

// text
.is-size-6-7 {
  font-size: 14px;
}

.is-size-8 {
  font-size: 10px;
}

.is-size-9 {
  font-size: 8px;
}

.text-overflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

// colors
.has-text-danger-dark {
  color: #680014 !important;
}

.has-text-info-dark {
  color: #004068 !important;
}

.has-background-info-dark {
  background-color: #004068 !important;
  /*002f4c  */
}

.has-background-danger-dark {
  background-color: #680014 !important;
  /*4c000e  */
}

.has-background-info-light {
  background-color: #97cced !important;
}

.has-text-info-light {
  color: #97cced !important;
}

.has-background-danger-light {
  background-color: #ffb7c5 !important;
}

.has-text-danger-light {
  color: #ffb7c5 !important;
}

// flex
.flex-wrap {
  flex-wrap: wrap;
}

.flex-vertical {
  flex-direction: column;
}

.flex-justify-center {
  justify-content: center;
}

.flex-justify-space-between {
  justify-content: space-between;
}

.flex-align-center {
  align-items: center;
}

.table.has-background-dark td {
  border-color: #b5b5b5 !important;
}

// table
.table td,
.table th {
  vertical-align: middle;
  text-align: center;
}

.table.is-striped th {
  border-top: 0;
}

.table.is-borderless-y td {
  border-bottom: 0;
  border-top: 0;
}

.table.is-borderless-y {
  border-top: 0 !important;
}

.table.is-very-narrow td {
  padding: 0.25em 0.25em;
}

.table.is-narrow-x td {
  padding: 0.5em 0.25em;
}

.table.is-paddingless td,
.table.is-paddingless th {
  padding: 0 0;
}

// statistics page table
.table-button {
  border: 0;
  white-space: normal;
  height: 90px;
  background-color: #9255cc;
}

.table-button:disabled {
  opacity: 1;
}

.table-button:hover:not(:disabled) {
  background-color: #804cb5;
}

.table-button.is-selected:not(:disabled) {
  background-color: #6b4099;
}

.sticky-heading {
  position: sticky;
  top: 0;
  z-index: 1;
}


// animation
.transition-up {
  transition-duration: 86ms;
  transition-property: box-shadow, transform;
  will-change: box-shadow, transform;
}

.transition-up:hover {
  transform: translateY(-0.5rem);
}

// small tag
.tag:not(body).is-small {
  font-size: 10px;
}


// image sizes
.image.is-20x20 {
  height: 20px;
  width: 20px;
}

.image.is-22x22 {
  height: 22px;
  width: 22px;
}

.image.is-40x40 {
  height: 40px;
  width: 40px;
}

// borders
.border-radius-4 {
  border-radius: 4px;
}

.border-radius-6 {
  border-radius: 6px;
}

.has-border-top {
  border-top: 1px solid #4a4a4a;
}

.has-border-bottom {
  border-bottom: 1px solid #4a4a4a;
}

.has-border-right {
  border-right: 1px solid #4a4a4a;
}

.has-border-left {
  border-right: 1px solid #4a4a4a;
}

.is-bordered {
  border: 1px solid #4a4a4a !important;
}

// tippy theme
.tippy-tooltip.translucent-theme,
.tippy-tooltip.translucent-theme .tippy-backdrop {
  background-color: rgba(0, 0, 0, 0.95);
}

.tippy-tooltip.translucent-theme {
  padding: 4px;
  background-color: rgba(0, 0, 0, 0.95);
  border: 1px solid #ab8f57;
  // background-image: linear-gradient(0deg, #6c5021 0, #ab8f57 100%);
  text-align: left
}

.tippy-tooltip.translucent-theme .tippy-content {
  font-family: "Lato", $family-sans-serif;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ab8f57;
}

.tippy-tooltip.translucent-theme .tippy-content h5 {
  font-family: "sura", serif;
}

.tippy-tooltip.translucent-theme .tippy-roundarrow {
  width: 36px;
  fill: rgba(0, 0, 0, 0.95);
  stroke: #ab8f57;
}

.tippy-popper[x-placement^=top] .tippy-tooltip.translucent-theme .tippy-roundarrow {
  bottom: -3px;
}

.tippy-popper[x-placement^=bottom] .tippy-tooltip.translucent-theme .tippy-roundarrow {
  top: -7px;
}

.tippy-popper[x-placement^=left] .tippy-tooltip.translucent-theme .tippy-roundarrow {
  right: -19px;
}

.tippy-popper[x-placement^=right] .tippy-tooltip.translucent-theme .tippy-roundarrow {
  left: -19px;
}

.tippy-tooltip.translucent-theme[data-animatefill] {
  background-color: transparent
}

// recharts tooltip
.recharts-default-tooltip {
  border-radius: 4px;
  background-color: transparent !important;
  border-color: #ab8f57 !important;
}

.recharts-tooltip-wrapper {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 4px;
  border: 1px solid #ab8f57;
}

// summoner page
.button.is-danger-dark {
  background-color: #680014;
  border: none;
  color: $grey-lighter;

  &:hover,
  &:focus,
  &.is-active {
    background-color: lighten(#680014, 10%);
    color: $white;
  }
}

.button.is-info-dark {
  background: #004068;
  color: $grey-lighter;
  border: none;

  &:hover,
  &:focus,
  &.is-active {
    background-color: lighten(#004068, 10%);
    color: $white;
  }
}

.match-type-width {
  max-width: 121px;
}

// .badge:not([data-badge=""])::after {
//   padding: 0.2rem 0.2rem
// }

.badge.is-badge-small.is-badge-bottom-left::after {
  left: calc(20% - (1rem / 2));
  top: calc(97% - (1rem / 2));
}

.badge.is-badge-small:not([data-badge=""])::after {
  padding: 0.2rem 0.2rem;
  line-height: 8.8px
}

.badge.is-badge-danger-dark[data-badge]::after {
  background-color: #680014
}

.badge.is-badge-info-dark[data-badge]::after {
  background-color: #004068
}

.summoner-items-width {
  width: 120px;
  min-width: 112px;
}

.players-items-width {
  width: 112px;
}

// champions page
.champ-item-width {
  width: 120px;
}

.champ-item-border {
  border-right: 1px solid #4a4a4a;
  border-left: 1px solid #4a4a4a;
  margin-left: -1px;
}

// champ page
.champ-radar {
  height: 350px !important;
}

.legend-colors {
  width: 12px;
  height: 12px;
}

.matchup-enemy {
  width: 84px;
}

.selected-role {
  border: 1px solid #7a7a7a;
}

.selected-skill {
  position: relative;
  height: 100%;
  width: 100%
}

.selected-skill-text {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 2px;
}

.skill {
  width: 5.263%;
  height: 32px;
}

.progress-bar {
  width: 300px;
  border-radius: 4px !important;
}

.progress-left {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.progress-right {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.matchup-chart {
  height: 250px !important;
}

.skill-order {
  margin-bottom: 8px !important;
}

// responsive
@media only screen and (max-width: 1279px) {
  .progress-bar {
    width: 200px;
  }
}

@media only screen and (min-width: 769px) {
  .tooltip-text {
    max-width: 450px;
  }

  .table-maxwidth {
    max-width: 850px !important;
  }
}

@media screen and (min-width: 701px) and (max-width: 820px) {
  .map-width {
    width: 89px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1000px) {
  .progress-bar {
    width: 150px;
    font-size: 10px !important
  }

  .matchup-enemy {
    width: 60px;
  }
}

@media only screen and (max-width: 768px) {
  .app-logo {
    height: 120px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
  }

  .logo-image {
    width: auto;
    height: auto;
    max-width: 120px;
  }

  .champ-item-width {
    width: 98px;
  }

  .progress-bar {
    width: 250px;
  }

  .select.is-small-mobile {
    font-size: 0.75rem;
  }

  .input.is-small-mobile {
    font-size: 0.75rem;
  }

  .pref-button {
    margin-left: calc(100% - 60px);
    width: 48px;
    height: 48px;
  }

  .connection-notification {
    height: 24px;
    padding-top: 0;
  }
}

@media only screen and (min-width: 769px) and (max-width: 790px) {
  .match-type-width {
    width: 93px;
  }
}

@media only screen and (min-width: 574px) and (max-width: 768px) {
  .is-size-6-7 {
    font-size: 14px !important;
  }

  .player-name-width {
    width: 70px;
  }
}

@media only screen and (min-width: 700px) and (max-width: 768px) {
  .match-type-width {
    width: 79px;
  }
}

@media only screen and (max-width: 700px) {
  .is-hidden-sm {
    display: none;
  }

  .tooltip-max-width {
    max-width: 300px;
  }

  .table.is-very-narrow-mobile td {
    padding: 0.25em 0.25em;
  }

  .summoner-items-width {
    width: 112px;
  }

  .players-items-width {
    width: 104px;
  }
}

@media only screen and (max-width: 574px) {
  .player-name-width {
    width: 50px;
  }
}

@media only screen and (max-width: 550px) {
  .is-hidden-vsm {
    display: none;
  }

  .progress-bar {
    width: 200px;
  }

  .map-width {
    width: 93px;
  }

  .match-type-width {
    width: 70px;
  }
}

@media only screen and (min-width: 474px) and (max-width: 500px) {
  .map-width {
    width: 67px;
  }
}

@media only screen and (max-width: 474px) {
  .is-hidden-vvsm {
    display: none;
  }

  .table.is-very-narrow-vsm td {
    padding: 0.25em 0.25em;
  }

  .skill-order {
    margin: 0 -12px 8px -12px !important;
    width: calc(100% + 24px) !important;
  }
}

@media only screen and (max-width: 450px) {
  .text-sm {
    font-size: 10px !important;
  }

  .progress-bar {
    width: 150px;
  }

  .champ-radar {
    height: 250px !important;
  }

  .matchup-enemy {
    width: 55px;
  }

  .overview-champ {
    width: 50px;
  }
}

@media only screen and (max-width: 400px) {
  .select-region-vs {
    width: 80px
  }

  .search-column {
    padding-left: 4px
  }
}

@media only screen and (max-width: 390px) {
  .map-width {
    width: 57px;
  }
}

@media only screen and (max-width: 374px) {
  .text-vsm {
    font-size: 10px !important;
  }

  .match-type-width {
    width: 58px;
  }

  .is-hidden-vvvsm {
    display: none;
  }

  .progress-bar {
    width: 120px;
  }

  .matchup-chart {
    height: 180px !important;
  }

  .champ-radar {
    height: 240px !important;
  }

  .overview-champ {
    width: 45px;
  }

  .pref-button {
    margin-left: calc(100% - 52px);
    width: 40px;
    height: 40px;
  }

  .search-button {
    width: 36px
  }
}